<div class="well">
    <h2>ADD:</h2>
</div>
<form action="/add" method="post" class="form-horizontal" role="form" name="addhhform">
    <div class="addhhFormDiv form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-offset+1 col-sm-9">
            <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Bar/Restaurant Name:" required/>
        </div>
    </div>
    <div class="addhhFormDiv form-group">
        <label class="control-label col-sm-2" for="deals">Notes:</label>
        <div class="col-sm-offset+1 col-sm-9">
            <input type="text" name="deals" id="deals" class="form-control input-lg" placeholder="Did it suck?" required/>
        </div>
    </div>
    <div class="addhhFormDiv form-group">
        <label class="control-label col-sm-2" for="city">City:</label>
        <div class="col-sm-offset+1 col-sm-9">
            <input type="text" name="city" id="city" class="form-control input-lg" placeholder="Enter the City:" required/>
        </div>
    </div>
    <div class="addhhFormDiv form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-info" ng-disabled="addhhform.$invalid" ng-click="incUserActivity(user)" value="Submit">Submit</button>
        </div>
    </div>
</form>